@font-face {
    font-family: 'pre-l';
    src: url(../font/Pretendard-Light.otf);
}

@font-face {
    font-family: 'pre-r';
    src: url(../font/Pretendard-Regular.otf);
}

@font-face {
    font-family: 'pre-m';
    src: url(../font/Pretendard-Medium.otf);
}

@font-face {
    font-family: 'pre-semi';
    src: url(../font/Pretendard-SemiBold.otf);
}

@font-face {
    font-family: 'pre-b';
    src: url(../font/Pretendard-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/*  
 font-family: "Outfit", sans-serif;
 */

:root {
    /* 메인컬러 지정 */
    --Scolor--: #1746A2;
    --Mcolor--: #5F9DF7;
}


/* header */
.h_hidden {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}


/* common >  z-index
899  998   991 990  897 898 999  896
*/

header {
    width: 100%;
    /* overflow: hidden; */
    background-color: var(--Mcolor--);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 899;
    z-index: 10;
    transition: all 0.2s linear 0s;
}

header.active {
    transform: translateY(-100%);
    transition: all 0.15s linear 0s;
}

@keyframes drop {
    0% {
        top: -1rem;
    }

    100% {
        top: 0;
    }
}

.header_inner {
    width: 100%;
    max-width: 1740px;
    height: 80px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_inner .logo a {
    display: block;
    width: 160px;
    height: 36px;
}

.header_inner .logo a img {
    width: 100%;
    height: 100%;
}

.header_inner nav {
    height: 100%;

}

.header_inner nav>ul {
    display: flex;
    height: 100%;
    justify-content: center;
    flex: 1;

}

.header_inner nav>ul>li {
    width: 156px;
    position: relative;
}

.header_inner nav>ul>li>a {
    font-family: 'pre-semi';
    font-size: 18px;
    display: block;
    width: 100%;
    padding: .5rem 24px;
    padding: 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

/* sub */
/* 메뉴 언더라인 */
.header_inner nav>ul>li>a::before {
    display: block;
    content: '';
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 997;
    width: 0;
    transition: width .5s ease, left .5s ease;
    transform: translateX(-50%);
}

.header_inner nav>ul>li>a.m_line::before {
    width: 80%;
}

header::after {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 996;
    transition: all .4s linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03);
    background-color: rgba(0, 0, 0, .6);

    border-top: 1px solid #EFEFEF;

}


header.on::after {
    height: 300px;
}

.header_inner nav .submenu {
    font-family: 'pre-m';
    font-size: 16px;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    position: relative;
    left: 0;
    top: 8px;
    z-index: 998;
    display: none;


}

.submenu>li {
    width: 100%;
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #000; */
    color: #fff;
}

.submenu>li:hover {
    color: var(--Mcolor--);
    font-weight: 600;
    /* color: #fff; */
}

.header_inner nav .submenu>li>a {
    display: block;
    width: 140px;
    height: 100%;

}



.btn_box {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    display: block;
    border: none;
    background-color: transparent;
    /* margin-left: 25px; */
    cursor: pointer;
    padding: 0;
}

.btn_box .sch {
    background-image: url(../img/w_btn_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    margin-left: 25px;

}

.btn_box .login {
    background-image: url(../img/w_btn_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 28px;
    height: 24px;
    margin-left: 25px;

}

.btn_box .menu {
    display: none;
    margin-left: 25px;

}



/* side_menu */
/* .side_menu {
    width: 57%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    background-color: #fff;

    color: #000;

} */


.close_box {
    width: 100%;
    height: 80px;
}

.close {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.close>span {
    display: block;
    height: 2px;
    border-radius: 10px;
    background-color: #000;

}

.close .line_1 {
    width: 32px;
    transform: translateX(50%) rotate(45deg);
}

.close .line_2 {
    width: 32px;
    transform: translateX(-50%) rotate(-45deg);
}


/*수정중  */
.side_menu {
    width: 57%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    background-color: #fff;
    /* background-color: slateblue; */

    color: #000;

}
.side_inner {
    width: 100%;
    height: calc(100% - 160px);
    padding-bottom: 20vh;
    padding-top: 40px;
    overflow: hidden;
    overflow-y: auto;
}
.side_inner::-webkit-scrollbar {
    /* 크롬, 사파리, 엣지 */
    display: none;
}
.side_btn_box{
    width: 100%;
    height: 80px;
    border-top: 1px solid #EFEFEF;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
.side_sch {
    background-image: url(../img/btn_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.side_login {
    background-image: url(../img/btn_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
}



/* 원본 */
/* .side_inner {
    width: 100%;
    height: 100%;
    padding-bottom: 30vh;
    padding-top: 40px;
    overflow: hidden;
    overflow-y: auto;
} */

.side_inner>ul>li {
    width: 100%;
    padding: 2.3rem 50px;
}

.side_inner>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'pre-semi';
    font-size: 24px;
}

.side_inner .submenu_2 {
    font-family: 'pre-m';
    font-size: 20px;
    width: 100%;
    background-color: var(--Mcolor--);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 6px;


    display: none;
}

.side_inner .submenu_2>li {
    width: 100%;
    border-radius: 10px;
}

.side_inner .submenu_2>li>a {
    display: block;
    width: 98%;
    padding: 18px 0;
    padding: 14px 0;
    margin: auto;
    border-radius: 10px;
    margin: auto;
}

.side_inner .submenu_2>li:hover {
    background-color: #fff;
    color: var(--Mcolor--);

    /* display: none; */
}

/* side_bg */
.side_bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;

    display: none;
}


/* footer */
footer {
    width: 100%;
    height: 460px;
    margin-top: 220px;
    background-color: #000;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 896;
}

.footer_inner {
    width: 100%;
    max-width: 1740px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.g_logo {
    width: 160px;
    height: 36px;
}

.g_logo img {
    width: 100%;
    height: 100%;
}

footer .side {
    color: #666;
    font-size: 1rem;
    font-family: 'pre-m';
    line-height: 120%;
    display: flex;
    margin: 56px 0;
    gap: 30px;

}

footer .btm_box {
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.btm_box .copyright {
    font-size: 0.9rem;
    font-family: 'pre-r';
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btm_box .icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.btm_box .icons span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .15);
    font-size: 1.5rem;
}

/* footer > top_btn */
footer .top_btn {
     position: relative;
    display: none;

    /* width: 100%;
    max-width: 1740px;
    padding: 104px 20px;
    position: fixed;
    z-index: 897;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    display: none; */

    
}

.t_btn {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 898;
    /* right: 20px;
    bottom: 104px; */
    
    right: 4%;
    bottom: 12%;
}


.t_btn>button {
    display: block;
    width: 21px;
    height: 24px;
    padding: 0;
    margin: 0;
    background-image: url(../img/up_arrow_w.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* 반응형 */
@media screen and (max-width:1200px) {

    /* header */
    .header_inner {
        padding: 0 16px;
    }

    .header_inner .logo a {
        width: 146px;
        height: 34px;
    }

    .header_inner nav,header::after  {
        display: none;
    }

    .btn_box .menu {
        display: block;
        width: 24px;
        height: 24px;

        padding: 3px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        position: relative;
    }

    .menu>span {
        display: block;
        background-color: #fff;
        height: 2px;
        border-radius: 10px;
    }

    .menu .line_1,
    .menu .line_3 {
        width: 100%;
    }

    .menu .line_2 {
        width: 50%;
    }



    /* footer */
    footer {
        height: 380px;
    }

    .footer_inner {
        max-width: 1200px;
        padding: 0 16px;
    }

    .g_logo {
        width: 146px;
        height: 34px;
    }


    /*  footer > top_btn */
    .t_btn {
        width: 60px;
        height: 60px;
        right: 16px;
    }

    .t_btn>button {
        width: 18px;
        height: 21px;
    }
}

@media screen and (max-width:767px) {
    footer {
        height: 480px;
        border-radius: 20px 20px 0 0;
    }

    footer .side {
        flex-direction: column;
        margin-top: 32px;
        margin-bottom: 46px
    }

    footer .btm_box {
        flex-direction: column;
        gap: 32px;
    }
}

@media screen and (max-width:575px) {

    .btn_box .sch,
    .btn_box .login {
        display: none;
    }
    /* side_menu */
    .side_menu {
        width: 100%;
    }
}

@media screen and (max-width:430px) {

    /* header */
    .header_inner {
        height: 60px;
    }

    .header_inner .logo a {
        width: 89px;
        height: 20px;
    }





    /* footer */
    footer {
        height: 460px;
    }

    .g_logo {
        width: 89px;
        height: 20px;
    }


    .btm_box .icons {
        flex-wrap: wrap;
    }


    /* top_btn */
    .t_btn {
        width: 48px;
        height: 48px;
    }

    .t_btn>button {
        width: 14px;
        height: 17px;
    }

}

